<!--footer start-->
<footer class="footer">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-5 margin-b-30">
        <span>&copy; Copyright 2017</span>
      </div><!--copyright col-->
      <div class="col-md-7 text-right">
        <ul class="list-inline margin-b-30">
          <li class="list-inline-item"><a href="/">Home</a></li>
          <li class="list-inline-item"><a href="/projects">Projects</a></li>
          <li class="list-inline-item"><a href="/news">News</a></li>
          <li class="list-inline-item"><a href="/team">Team</a></li>
          <li class="list-inline-item"><a href="/contact">Contact</a></li>
        </ul>
      </div><!--footer nav col-->
    </div><!--row-->
  </div><!--container-->
</footer>
<!--footer end-->

<!--back to top-->
<a href="#" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>
<!--back to top end-->
