<!--  navbar -->
<nav class="navbar navbar-toggleable-sm fixed-top transparent-nav navbar-inverse bg-inverse">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand nav-item" href="/"><span><img class="nav-logo" src="http://www.forefrontstructural.com/images/ff%20logo%20small.png" alt="logo"></span></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto scroll-to">
        <li class="nav-item"><a data-scroll href="/projects" class="nav-link">Projects</a></li>
        <li class=" nav-item"><a data-scroll href="/news" class="nav-link">News</a></li>
        <li class=" nav-item"><a data-scroll href="/team" class="nav-link">Team</a></li>
        <li class=" nav-item"><a data-scroll href="/contact" class="nav-link">Contact</a></li>
        <!-- <li class="dropdown nav-item">
        <span class="dropdown-toggle menu-drop-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More</span>
        <ul class="dropdown-menu dropdown-menu-right">
        <li><a class="dropdown-item" href="blog-standard.html">Blog Standard</a></li>
        <li><a class="dropdown-item" href="blog-masonry.html">Blog Masonry</a></li>
        <li><a class="dropdown-item" href="blog-single.html">blog-post</a></li>
        <li><a class="dropdown-item" href="typography.html">Typography</a></li>
      </ul>
    </li> -->
    </ul>

  </div>
  </div>
</nav>
<!--end navigation-->
