<li class="col-md-12 clearfix scrollReveal sr-bottom news-item">
  <div class="thumb"><img src="http://www.forefrontstructural.com/images/willow.jpg" alt=""></div>
  <div class="content">
    <h4>NEWS!</h4>
    <div class="full-img-container">
      <img class="full-img" src="http://www.forefrontstructural.com/images/willow.jpg" alt="">
    </div>
    <div class="spacer space-40"></div>
    <p>
      Interesting stuff Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi esse et, repellendus voluptatibus, iste impedit vel vero, consectetur adipisci consequuntur excepturi! Rerum quis vel adipisci ab veritatis, doloremque necessitatibus quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci fugit impedit reprehenderit, ab tenetur perferendis ducimus incidunt architecto voluptates. Nobis, in, iusto. Suscipit laborum nam quia recusandae. Lorem modi, obcaecati expedita.

      Interesting stuff Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi esse et, repellendus voluptatibus, iste impedit vel vero, consectetur adipisci consequuntur excepturi! Rerum quis vel adipisci ab veritatis, doloremque necessitatibus quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci fugit impedit reprehenderit, ab tenetur perferendis ducimus incidunt architecto voluptates. Nobis, in, iusto. Suscipit laborum nam quia recusandae. Lorem modi, obcaecati expedita.
      Interesting stuff Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi esse et, repellendus voluptatibus, iste impedit vel vero, consectetur adipisci consequuntur excepturi! Rerum quis vel adipisci ab veritatis, doloremque necessitatibus quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci fugit impedit reprehenderit, ab tenetur perferendis ducimus incidunt architecto voluptates. Nobis, in, iusto. Suscipit laborum nam quia recusandae. Lorem modi, obcaecati expedita.
    </p>
    <div class="text-right see-more-container"><span class="see-more">see more</span></div>
    <div class="text-right see-less-container"><a href="#" class="see-less">see less</a></div>
  </div>
</li>
