<style>

  .services-list li p.expanded {
    height: 500px;
    overflow: scroll;
  }

  .services-list li p {
    height: 100px;
    overflow: hidden;
  }



  .services-list div.thumb {
    float: left;
    margin-right: 20px;
    width: 75px;
    text-align: center;
    line-height: 60px;
    font-size: 35px;
  }

  div.thumb img {
    width: 100%;
  }
  @media (min-width: 768px){
    body .services-list li.news-item {
      border-right: none;
      border-left: none;
    }

    .services-list div.thumb {
      width: 200px;
    }
  }

</style>

<h1>News Index Page</h1>
<section id="home" class="overflow-hidden slider-banner">
  <div class="main-slider">
    <ul class="slides">
      <li>
        <img src="<%= asset_path 'bg-1.jpg' %>" alt="" class="img-fluid">
        <div class="slider-overlay">
          <div class="slider-table">
            <div class="slider-vm">
              <div class="container text-center">
                <h1>News</h1>
              </div>
            </div>
          </div>
        </div><!--slider overlay end-->
      </li>
    </ul>
  </div>
</section>
<!-- news section -->
<section id="services">
    <div class="space-100"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-8 offset-md-2">
                <ul class="row list-unstyled services-list">
                    <li class="col-md-12 clearfix scrollReveal sr-bottom news-item">
                        <div class="thumb"><img src="http://www.forefrontstructural.com/images/willow.jpg" alt=""></div>
                        <div class="content">
                            <h4>NEWS!</h4>
                            <p>
                              Interesting stuff Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi esse et, repellendus voluptatibus, iste impedit vel vero, consectetur adipisci consequuntur excepturi! Rerum quis vel adipisci ab veritatis, doloremque necessitatibus quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci fugit impedit reprehenderit, ab tenetur perferendis ducimus incidunt architecto voluptates. Nobis, in, iusto. Suscipit laborum nam quia recusandae. Lorem modi, obcaecati expedita.
                            </p>
                            <div class="text-right"><a href="#" class="expand">Click for more</a></div>
                        </div>
                    </li><!--service col end with li-->

                </ul><!--service list end-->
            </div>
        </div><!--row end-->
        <hr>
        <div class="space-60"></div>
        <div class="text-center scrollReveal sr-bottom">
            <h1 class="margin-b-20">Want to work with us</h1>
            <a href="#" class="btn btn-dark-border btn-lg">Our Portfolio</a>
        </div>
    </div>
</section>
