<section id="news" class="overflow-hidden slider-banner">
  <div class="main-slider">
    <ul class="slides">
      <li>
        <img src="<%= "http://www.forefrontstructural.com/images/dalian.jpg" %>" width="100%" alt="" class="img-fluid">
        <div class="slider-overlay">
          <div class="slider-table">
            <div class="slider-vm">
              <div class="container text-center text-overlay">
                <h1>News</h1>
              </div>
            </div>
          </div>
        </div><!--slider overlay end-->
      </li>
    </ul>
  </div>
</section>
<!-- news section -->
<section id="services">
  <div class="space-100"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <ul class="row list-unstyled services-list">
          <%= render partial: "news/stub", collection: @articles, as: :article%>
        </ul><!--service list end-->
        <div class="col-md-12 text-center">
          <a href="#" class="btn btn-lg btn-skin-border btn-block margin-b-20">Load More</a>
        </div>
      </div>
    </div><!--row end-->
    <div class="space-60"></div>
  </div>
</section>
