<li>
  <img src="<%= asset_path project.images.first.url %>"  alt="" style="object-fit:cover; width:100%; height:51vw">
  <div class="slider-overlay">
    <div class="slider-table">
      <div class="slider-vm">
        <div class="container text-center" style="width:100vw;background: rgba(0,0,0,0.3)">
          <h1><%=project.name%></h1>
          <a href="<%=project_path(project)%>" class="btn btn-lg btn-white-border">See More</a>
        </div>
      </div>
    </div>
  </div><!--slider overlay end-->
</li>
