
<div class="container">
  <% @featured_projects.each do |project| %>
  <div class="row">
    <div class="col-md-12">
      <a href="/project/<%= project.id %>">
      <img class="img-fluid project-index-img" src="<%= asset_path project.images.first.url %>" alt="">
      </a>
      <h2 class='project-index-name'><%= project.name %></h2>
    </div>
  </div>
  <% end %>

  <% @projects.each do |project| %>
  <div class="row">
    <div class="col-md-12">

      <img class="img-fluid" src="<%= asset_path project.images.first.url %>" alt="">
    </div>
  </div>
  <% end %>
</div>
