<div class='container'>
  <div class="row">
    <div class="col-sm-6">
      <img src="<%= @team_member.secondary_image %>" alt="">
    </div>
    <div class="col-sm-6">
      <h2><%= @team_member.first_name + " " + @team_member.last_name %></h2>
      <h3><%= @team_member.role %></h3>
      <p>
        <%= @team_member.bio %>
      </p>
    </div>
  </div>
</div>
