/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require lib/bootstrap.min.css
 *= require lib/ionicons.css
 *= require lib/flexslider.css
 *= require lib/dzsparallaxer.css
 *= require lib/cubeportfolio.min.css
 *= require lib/pushy.css
 *= require lib/style.css
 *= require lib/bootstrap-theme.min.css
 * \= require_tree .
 *= require_self
 */

 .project-tags {
   margin-top: 20px;
   margin-bottom: 35px;
 }

 .project-index-name {
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .project-index-img {
   display: block;
   margin: auto;
   width: 98%;
 }

 .project-index-img:hover {
   width: 100%;
   opacity: 0.8;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
 }

 .team-hero-img {
   background-size: contain;
 }

 .team-bio {
   text-align: center;
   vertical-align: center;
 }

 .nav-logo {
   display: inline;
   height: 25px;
 }

.news-panel {
  background-color: #FFFFFF;
  height: 100px;
  margin: 5px;

}

.panel-body {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

body {
  background-color: #F5F8FA;
}



/*styling for news items*/

.services-list li.news-item p {
  max-height: 100px;
  overflow: hidden;
}

.services-list li.expanded p {
  max-height: 1000px;
  overflow: auto;
}

.services-list li:hover.news-item.expanded {
  background-color: transparent;
  color: #888;
}

.services-list li:hover.news-item.expanded h4 {
  color: black;
}

li.news-item .full-img {
  opacity: 0;
  width: 0;
}

li.news-item.expanded .full-img {
  opacity: 100;
  width: 100%;
}

li.news-item .spacer {
  display: none;
}

li.news-item.expanded .spacer {
  display: block;
}


li.news-item .thumb img {
  width: 100%;
}

li.news-item.expanded .thumb {
  width: 0;
  opacity: 0;
}

li.news-item h4 {
  font-size: 1.5rem;
}

li.news-item.expanded h4 {
  font-size: 3rem;
}

.see-more-container,
.expanded .see-less-container {
  display: block;
}

.see-less-container,
.expanded .see-more-container {
  display: none;
}


li.news-item .full-img-container {
  text-align: right;
  height: 0;
}

li.news-item.expanded .full-img-container {
  text-align: right;
  height: auto;
}

.services-list div.thumb {
  float: left;
  margin-right: 20px;
  width: 75px;
  text-align: center;
  line-height: 60px;
  font-size: 35px;
}

.thumb, .full-img, h4 {
  -webkit-transition: 0.7s all;
          transition: 0.7s all;
}

li.news-item {
  -webkit-transition: 0s color;
          transition: 0s color;
}

p {
  -webkit-transition: 0.7s max-height;
          transition: 0.7s max-height;
}
@media (min-width: 768px){
  body .services-list li.news-item {
    border-right: none;
    border-left: none;
  }

  .services-list div.thumb {
    width: 200px;
    opacity: 100;
  }
}
/* end styling for news items*/
