/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require lib/bootstrap.min.css
 *= require lib/ionicons.css.erb
 *= require lib/flexslider.css
 *= require lib/dzsparallaxer.css
 *= require lib/cubeportfolio.min.css
 *= require lib/pushy.css.erb
 *= require lib/style.css
 *= require lib/bootstrap-theme.min.css
 * \= require_tree .
 *= require_self
 */

@import 'variables';

@font-face {
  font-family: 'Tex Gyre Adventor';
  src: font-url('texgyreadventor-regular.otf') format("opentype");
}

@font-face {
  font-family: 'Tex Gyre Adventor';
  src: font-url('texgyreadventor-italic.otf') format("opentype");
  font-style: italic;
}

@font-face {
  font-family: 'Tex Gyre Adventor';
  src: font-url('texgyreadventor-bold.otf') format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: 'Tex Gyre Adventor';
  src: font-url('texgyreadventor-bolditalic.otf') format("opentype");
  font-weight: bold;
  font-style: italic;
}
.panel-body {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

body {
  padding-top: $content-margin-top;
  background-color: #F5F8FA;
}

#home,
#news,
#team,
#contact,
#project-show,
#team-show {
  margin-top: -1 * $content-margin-top;;
}

.text-overlay {
  width:100vw;
  background: rgba(0,0,0,0.3);
}
