@import 'variables';

#news {
  margin-top: -1 * $content-margin-top;
}

.news-panel {
  background-color: #FFFFFF;
  height: 100px;
  margin: 5px;
}

.services-list li.news-item:last-of-type {
  border-bottom: none;
}
